@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueMedium.ttf");
	format("truetype")
}

@font-face {
	font-family: "PT Serif";
	src: url("../fonts/PTSerif-Regular.ttf");
	format("truetype")
}

/* html {
	font-size: 16px;
} */

body{
	padding: 0;
	margin: 0;
}

nav ul {
	list-style: none;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	top: 0px;
	padding: 0px;
	margin: 0px;
	background: transparent;
}

nav li {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 2vw;
	font-weight: 300;
	float: left;
	padding: 7px;
}

nav li a {
	text-decoration: none;
}

nav li a:link {
	color: rgb(86, 101, 115);
}

nav li a:visited {
	color: rgb(86, 101, 115);
}

nav li a:hover {
	color: rgb(0, 0, 0);
}

nav li a:active {
	color: rgb(0, 0, 0);
}

h1 {
	font-family: "Helvetica Neue", sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 5vw;
	font-weight: 700;
	letter-spacing: 15px;
	line-height: 72.2px;
}

p {
	font-family: "PT Serif", serif;
	font-size: 2.5vw;
	font-weight: 300;
	
	text-align: center;
	/*
	text-align: justify;
	text-justify: inter-word;
	*/
	margin: 5%;

}

footer {
	position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(86, 101, 115, 0.75);
}

footer p {
  font-family: "PT serif", serif;
  text-transform: uppercase;
  color: white;
}

.logo {
	font-weight: 500;
	font-size: 3vw;
}

.banner {	
	padding: 0;
	margin: 0;
	display: block;
}

.banner img {
	max-width: 100%;
}

.maincontent {
	font-family: "PT Serif", serif;
	font-weight: 300;
}

.maincontent ul {
	text-align: center;
	list-style-type: none;
	font-family: "PT Serif", serif;
	font-size: 2.5vw;
	font-weight: 500;
}

	.maincontent li {
		padding: 10px;

	}

.maincontent li a {
	text-decoration: none;
	font-size: 3.5vw;
}

.maincontent li a:link {
	color: rgb(86, 101, 115);
}

.maincontent li a:hover {
	color: rgb(0, 0, 0);
}

.maincontent li a:active {
	color: rgb(0, 0, 0);
}

.maincontent li a:visited {
	color: rgb(0, 0, 0);
}


